<head>
  <%= stylesheet_link_tag '/css/postindex.css' %>
  <%= stylesheet_link_tag '/css/form.css' %>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Cover page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/posts">Home <span class="sr-only">(current)</span></a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item active">
          <a class="nav-link" href="/posts/new">글쓰기</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/logout" data-method="delete">로그아웃</a>
        </li>
      <% else %>
        <li class="nav-item active">
          <a class="nav-link" href="/login">로그인</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/users/new">회원가입</a>
        </li>
      <% end %>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>!-->
      <div class="hello">
        <% if user_signed_in? %>
          <strong>반갑습니다, <%= current_user.userid %>님</strong>
        <% end %>
      </div>
    </form>
  </div>
</nav>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-all">
    <div class="form-inputs" >
      <p>
        <%= f.label :아이디 %><br>
        <%= f.text_field :userid, :size=>"20" %>
      </p>
      <p>
        <%= f.label :비밀번호 %><br>
        <%= f.password_field :password, :size=>"20" %>
      </p>
      <p>
        <%= f.label :이름 %><br>
        <%= f.text_field :name, :size=>"20" %>
      </p>
      <p>
        <%= f.label :이메일 %><br>
        <%= f.email_field :email, :size=>"20" %>
      </p>

    </div>

    <div class="form-actions">
      <p>
        <%= f.submit '등록' %>
      </p>
    </div>
  </div>

<% end %>